#canvas {
    height: 600px;
    width: 600px;
    margin: 100px auto 0px auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.header-content {
    text-align: center;
    margin: auto;
    background-color: beige;
    padding: 20px;
}

body {
    background-color:blanchedalmond;
    margin: 0;
}
